<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.$orgName.checkinwatcher</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>/Library/Application Support/$orgName/checkin.sh</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>/Library/Managed Preferences/com.$orgName.checkin.plist</string>
	</array>
</dict>
</plist>
